.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html {
  height: 100vh;
  width: 100vw;
}

#heart-con {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#heart-con {
  cursor: default;
}
#hearts {
  font-size: 100vh;
  text-align: center;
}
#heart-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  color: white;
}
@media (max-width: 600px) {
  #hearts {
    font-size: 100vw;
    text-align: center;
  }
  #heart-text {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 70vw;
    color: white;
  }
}
#loveButtons {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
#prevButton {
  background-color: #61dafb18;
  width: 50vw;
  outline: none;
  border: none;
  text-align: start;
  padding: 10vw;
}
#nextButton {
  background-color: #61dafb18;
  width: 50vw;
  outline: none;
  border: none;
  text-align: end;
  padding: 10vw;
}